<div *ngFor="let box of boxes">
    <div class="box">
        <h1> {{ box.nom }} </h1>
        <p> {{ box.id_box }} </p>
        <h3 class="price"> {{box.prix}} </h3>
        <div class="add-delete">
            <button class="cart" (click)="addToCart(box.id_box)"> Ajouter au panier </button>
            <button class="cart"> Supprimer du panier </button>
        </div>
    </div>
</div>
<div class="panier-overlay">
    <h1>Panier</h1>
    <button>Valider</button>
    <button>Annuler</button>
</div>