/* You can add global styles to this file, and also import other style files */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal
}
html {
  height: 100vh;
}

body {
  background: #222222;
  position: relative;
  min-height: 50%;
  padding-bottom: 5em;
  color: #fff;
}